* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
.wrapper {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1200px; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  @media screen and (max-width: 1200px) {
    .wrapper {
      width: auto; } }

.front #main .wrapper {
  width: 100%;
  max-width: 100%; }
.front #main .view .wrapper {
  width: 1200px;
  max-width: 1200px; }
  @media screen and (max-width: 1200px) {
    .front #main .view .wrapper {
      width: auto; } }

.no-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%; }
  .no-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .no-sidebars #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .no-sidebars #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-second #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%; }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-second #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 74.19355%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-second #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-first #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%;
  margin-left: 25.53191%; }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-first #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 48.3871%;
      margin-left: 38.70968%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-first #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
.two-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%;
  margin-left: 17.02128%; }
  .two-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .two-sidebars #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 48.3871%;
      margin-left: 25.80645%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .two-sidebars #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }

#sidebar-first {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: -68.08511%; }
  #sidebar-first:last-child {
    margin-right: 0; }
  .sidebar-first #sidebar-first {
    margin-left: -102.12766%; }
  @media screen and (max-width: 768px) {
    #sidebar-first {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 35.48387%;
      margin-left: -64.51613%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: -90.32258%; } }
  @media screen and (max-width: 480px) {
    #sidebar-first {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: 0%; } }

#sidebar-second {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: 0%; }
  #sidebar-second:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #sidebar-second {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 22.58065%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    #sidebar-second {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }

#footer {
  float: none;
  clear: both; }

/* Layout Helpers */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both; }

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
.inner {
  padding: 0; }

/* Navigation styles */
#navigation li {
  list-style-type: none;
  display: inline-block; }
