* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 22px/1.5em "Roboto";
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    body {
      font: 20px/1.5em "Roboto"; } }

/* Links */
a:link, a:visited {
  color: #2aa9df;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 4em;
  font-family: "Lato";
  font-weight: 700;
  line-height: 1.3em;
  padding: 0 0 0.5em 0.4em;
  margin: 0;
  line-height: 2.3em; }
  @media screen and (max-width: 768px) {
    #site-name {
      font-size: 3em;
      line-height: 2.5em; } }
  @media screen and (max-width: 480px) {
    #site-name {
      font-size: 2em;
      line-height: 3em; } }

@media screen and (max-width: 1200px) {
  #logo {
    margin: 0 20px; } }
@media screen and (max-width: 768px) {
  #logo {
    text-align: center; } }

#header {
  margin: 30px auto; }

#name-and-slogan {
  display: inline-block;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: #2aa9df; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0;
  margin: 0 0 0.3em; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* Images */
img {
  max-width: 100%; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

b, strong {
  font-weight: 500; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

#navigation {
  line-height: 1.3em;
  background: #2aa9df;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px; }
  #navigation a {
    display: inline-block;
    padding: 10px;
    color: white; }
  #navigation #secondary {
    font-size: 0.7em; }

#content-bottom {
  background: url("../images/footer.jpg") repeat-x center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 50px 0;
  color: white;
  font-size: 14px; }
  #content-bottom h2 {
    color: white;
    font-size: 1.14em;
    text-transform: uppercase;
    font-weight: 500; }
  #content-bottom .views-field-title {
    font-size: 1.85em; }
  #content-bottom .views-row {
    border-bottom: 1px solid white; }
  #content-bottom .block {
    float: left;
    width: 32%;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      #content-bottom .block {
        width: 49%; } }
    @media screen and (max-width: 480px) {
      #content-bottom .block {
        width: 100%; } }
    #content-bottom .block .block-inner {
      /* TODO */
      min-height: 250px;
      padding: 15px 25px; }
  #content-bottom #block-views-news-block {
    margin-right: 2%; }
    @media screen and (max-width: 480px) {
      #content-bottom #block-views-news-block {
        margin-right: 0; } }
  #content-bottom .block-views ul {
    padding: 0; }
  #content-bottom .block-views li {
    list-style: none;
    margin: 0; }
  #content-bottom .block-views .views-field-created,
  #content-bottom .block-views .views-field-field-event-date {
    font-size: 0.8em; }

#main {
  margin: 20px 0; }
  #main .submitted {
    font-size: 0.8em; }
  #main .field-name-field-news-body {
    margin: 1em 0 2em 0; }

.front #main {
  margin: 0; }

#footer {
  width: 100%;
  max-width: 1200px;
  font-size: 0.7em; }
  #footer .footer-left {
    text-align: center; }
  #footer .footer-right {
    float: right; }

/* Frontpage view */
.view-frontpage-view .views-row {
  clear: both;
  float: left;
  width: 100%;
  padding: 80px 10px; }
  @media screen and (max-width: 768px) {
    .view-frontpage-view .views-row {
      padding: 40px 10px; } }
  .view-frontpage-view .views-row.views-row-even {
    background: #2aa9df;
    color: white; }
    .view-frontpage-view .views-row.views-row-even h2.title {
      color: white; }
    .view-frontpage-view .views-row.views-row-even a {
      background: white;
      margin: 0 3px;
      padding: 0 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px; }
  .view-frontpage-view .views-row h2.title {
    font-size: 2.36em;
    line-height: 1.1;
    font-weight: 300;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .view-frontpage-view .views-row h2.title {
        font-size: 2.6em;
        width: 100%;
        padding-right: 0;
        text-align: center; }
        .view-frontpage-view .views-row h2.title br {
          display: none; } }
    .view-frontpage-view .views-row h2.title p {
      margin-bottom: 0; }
  .view-frontpage-view .views-row .body {
    text-align: center;
    line-height: 1.6; }
    .view-frontpage-view .views-row .body p:last-child {
      margin-bottom: 1.4em; }
    @media screen and (max-width: 768px) {
      .view-frontpage-view .views-row .body {
        text-align: center;
        width: 100%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
